
@{
    ViewBag.Title = "Услуги";
}

@section links {
    <style type="text/css">
        #main .container-fluid {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
        }

            #main .container-fluid p {
                padding: 30px;
                color: black;
                background-color: #cccccc;
            }

            #main .container-fluid p:hover {
                color: #777;
                background-color: #ddd;
            }
                
            #main .container-fluid i {
                    font-size: 6em;
                }

            #main .container-fluid ul i {
                font-size: 1em;
            }

        #main ul {
            list-style-type: none;
        }

            #main ul li {
                text-align: left;
                font-size: 1.4em;
            }

            #main ul.secondary {
                font-size: 0.8em;
            }

        /* hide elements */
        .col-md-4 ul:not(.secondary) li {
            opacity: 0;
            transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -webkit-transition: opacity .5s ease-in-out;
        }
    </style>
    <script type="text/javascript">
        window.onload = function () {
            var ulElements = document.querySelectorAll('.col-md-4 ul:not(.secondary)');
            ulElements.forEach(function (el) {
                liInUl = el.getElementsByTagName('li');
                for (var ind in liInUl) {
                    elem = liInUl[ind];
                    if (typeof elem != "function") {
                        modifyElement(elem, parseInt(ind));
                    }
                }
            });
        };
        function modifyElement(elem, time) {
            setTimeout(function () {
                elem.style.opacity = "1";
            }, 200 * time);
        }
    </script>
}

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-md-4">
            <h3>Ремонт на Интериор</h3>
            <a href="/Testimonials#?interiorRepair">
                <p><i class="glyphicon glyphicon-modal-window"></i></p>
                <!--    
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                -->
            </a>
            <ul style="margin-top: 30px;">
                <li><i class="glyphicon glyphicon-ok-circle"></i> Обзавеждане</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Дизайн и Реновации</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> 
                    Високо качествени покрития:
                    <ul class="secondary">
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Боядисване</li>
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Мазилки</li>
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Шпакловки</li>
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Замазки</li>
                    </ul>
                </li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> 
                    Настилки:
                    <ul class="secondary">
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Паркети</li>
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Ламперии</li>
                        <li><i class="glyphicon glyphicon-circle-arrow-right"></i> Плочки</li>
                    </ul>
                </li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> ВиК услуги</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Ел. Услуги</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Ремонт на баня</h3>
            <a href="/Testimonials#?bathRepair">
                <p><i class="glyphicon glyphicon-wrench"></i></p>
                <!--
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                -->
            </a>
            <ul style="margin-top: 30px;">
                <li><i class="glyphicon glyphicon-ok-circle"></i> Дизайн</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Предекориране</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Обзавеждане</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Екстериорен ремонт</h3>
            <a href="/Testimonials#?exteriorRepair">
                <p><i class="glyphicon glyphicon-home"></i></p>
                <!--
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                -->
            </a>
            <ul style="margin-top: 30px;">
                <li><i class="glyphicon glyphicon-ok-circle"></i> Дограми</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Зидарии</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Ремонт на покриви</li>
                <li><i class="glyphicon glyphicon-ok-circle"></i> Изолации</li>
            </ul>
        </div>
    </div>
</div>
