<footer class="footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicon glyphicon-home"></i>
                <span>бул. „Евлоги и Христо Георгиеви“ 97</span><br />
                <span>1142 Център, София</span>
            </div>
            <div class="col-md-4">
                <a href="https://goo.gl/maps/dFg146KCVqu" target="_blank" class="btn btn-danger"><i class="glyphicon glyphicon-map-marker"></i> Преглед на адреса в Google Maps</a>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-earphone"></i> +3598********
            </div>
        </div>
    </div>
    <p id="footerCopyright">&copy; @DateTime.Now.Year - К Констръкшън</p>
</footer>
