@{
    ViewBag.Title = "За нас";
}
@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>*@

<h3 style="text-decoration: underline;">Кои сме ние?</h3>
<p>
    KT Кънстракшън вярва, че строителството е най-важният инструмент за постигане на желаният уют и комфорт във вашият дом.
</p>
<h3 style="text-decoration: underline;">
    Нашите принципи
</h3>

Създадена през 2010 година, в основите на фирмата са заложени:

<ul>
    <li>Съдействие на клиентите в реализацията на техните идеи, впечатления и проекти</li>
    <li>Качествени услуги на разумни цени</li>
    <li>Лоялно отношение към всеки наш клиент и партньор</li>
</ul>

<h3 style="text-decoration: underline;">Екип</h3>
<p>За да бъдем сигурни,че основната цел е винаги доведена до успешен край, тези принципи са неразделна част от нашият екип, съставен от специалисти с необходимата квалификация и рутина.</p>

<h3 style="text-decoration: underline;">Портфолио</h3>
<p>Портфолиото ни е комбинация от решения с най-новите иновации и технологии в полза на нашите клиенти. Вижте нашата галерия</p>

<h3 style="text-decoration: underline;">На каква цена?</h3>
<p>В основата нашите ценови модел са елементите:</p>
<p>добро планиране>успешен ремонт>щастлив клиент</p>

<h3 style="text-decoration: underline;">Послание</h3>
<p>
    Ние даваме възможност на вашите най-смели идеи и очаквания да се превърнат в реалност.
</p>

