@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5865.523778003851!2d23.329734491054175!3d42.68758591709194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa850abb15ba19%3A0x7977ca9c656e94d7!2sBulevard+%22Evlogi+i+Hristo+Georgiev%22+97%2C+1142+Sofia+Center%2C+Sofia!5e0!3m2!1sen!2sbg!4v1506267233418" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 form-group">
            <form action="#" method="post">
                <label for="emailFrom">От: </label>
                <input type="text" class="form-control" name="emailFrom" />
                <label for="comment">Коментар:</label>
                <textarea class="form-control" rows="10" id="comment"></textarea>
                <input type="submit" class="btn btn-primary" value="Изпрати" />
            </form>
        </div>
    </div>
</address>

<address>
    <span>Bulevard "Evlogi i Hristo Georgiev" 97</span><br />
    <span>1142 Sofia Center, Sofia</span><br />
    <abbr title="Phone">Ph:</abbr><span>+35988*******</span>
</address>

<address>
    <strong>Support:</strong>
    <a href="mailto:Support@example.com">Support@example.com</a>
</address>